.ant-table-column-sorter-inner{display: none !important;}
.ant-table-thead{pointer-events: none;}
td.ant-table-cell{background: #ffffff !important; }
.ant-table-column-sort{background: #fafafa !important; }
.actor-list, .colaborator-list {
    list-style-type: none;
    padding: 0;
  }

  .actor-list li, .colaborator-list li {
    margin-bottom: 10px;
  }

body{
  overflow-x: hidden;
}

.banner{
  width: 15rem;
  max-width: 100%;
}

.ant-layout-footer{
  padding: 6px 45px;
}

button:hover {
  border-color: lightgray !important;
}

.tabbutton:hover,  .ant-btn-icon-only:hover {
  color: #ffcf3d !important;
}